@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
	padding: 0;
	margin: 0;
	min-width: 100vw;
	font-family: Lato, sans-serif;
	background-color: $secondary;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: $offwhite;
}

h1 {
	font-size: 2rem;
	font-weight: 200;
	color: $secondary;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: $primary;
}
