$primary: #a08f56;
$secondary: #202529;
$offwhite: #f5f5f5;

// $img-url: 'https://www.rwb.org/uploads/gallery/2122-NUT-Touring-Web-Header.jpg';
// $img-url2: 'https://www.rwb.org/uploads/gallery/2122-SleepingBeauty-Header.jpg';
// $img-url3: 'https://www.rwb.org/uploads/gallery/2021-Season-Web-Headers-OntheEdge.jpg';
// $img-url4: 'https://www.rwb.org/uploads/gallery/2122-CIND-Header.jpg';
